*{
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
}
:root {
  --primary-bg-color: #a6a7a7;
  --primary-color: #ffffff;
}


    th, td {
      padding: 8px;
      text-align: left;
      border: 1px solid #dedede;
    }
    th { background: #d1d7b7; color: rgb(56, 101, 11); }
    td img { width: 50px; height: auto; }
    .btn {
      padding: 5px 10px;
      margin: 2px;
      cursor: pointer;
      border: none;
      border-radius: 4px;
    }
    .btn-add { background: rgba(214, 232, 164, 0.759); color: rgb(156, 117, 117); }
    .btn-edit { background: rgb(106, 166, 211); color: rgb(172, 144, 144); }
    .btn-del { background: rgb(29, 126, 12); color: rgb(225, 186, 186); }
    .form-container {
      background: #ebd176;
      padding: 15px;
      margin-top: 20px;
      display: none;
      border-radius: 5px;
    }
    .form-container input, .form-container select {
      padding: 5px;
      margin: 5px 0;
      width: 70%;
    }
        body { font-family: sans-serif; 
          display:flex;
           /* justify-content:center; */
            /* align-items:center; */
             height:100vh;
              /* background:#dedede; */
  background-color: var(--primary-bg-color);

             }
   