/* =====================
   CHIA BODY THÀNH 2 PHẦN: SIDEBAR & MAIN
   ===================== */

body {
    display: grid;
grid-template-columns: repeat(7, 1fr);
grid-template-rows: repeat(5, 1fr);
  background-color: #f4f6fa;
  font-family: "Segoe UI", sans-serif;
  color:#397bff;
  
}
.sidebar_index {
    grid-row: span 5 / span 5;    /* Chiếm toàn bộ hàng */
    color: #fff;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.2);
}


.main_index {
     grid-column: span 6 / span 6;
    grid-row: span 5 / span 5;
    grid-column-start: 2;
}



