<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Quản lý danh mục</title>
    <link rel="stylesheet" href="../css/danhmuc.css">
    <script src="../js/danhmuc.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>

<body>

  <h2>Danh Mục Sách</h2>
  <button class="btn btn-add" onclick="showForm()">+ Thêm sản phẩm</button>
  
  <table id="productTable">
    <thead>
      <tr>
        <th>#</th>
        <th>Tên sản phẩm</th>
        <th>Mô tả</th>
        <th>Tác giả</th>
        <th>Tồn kho</th>
        <th>Thể loại</th>
        <th>Hình ảnh</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
        <!-- Dữ liệu sản phẩm sẽ được thêm vào đây bởi JavaScript -->
    </tbody>
  </table>

    <!-- Form thêm/sửa sản phẩm -->
  <div class="form-container" id="formContainer">
    <h3 id="formTitle">Thêm sản phẩm</h3>
    <input type="hidden" id="editIndex">
    <div>
        <label>Tên sản phẩm</label>
        <input type="text" id="name">
    </div>
    <div>
        <label>Mô tả</label>
        <input type="text" id="desc">
    </div>
    <div>
        <label>Tác giả</label>
        <input type="text" id="price">
    </div>
    <div>
        <label>Tồn kho</label>
        <input type="number" id="stock">
    </div>
    <div>
        <label>Thể loại</label>
         <select id="category">
      <option value="Tiểu Thuyết">Tiểu Thuyết</option>
      <option value="Huyền Huyễn">Huyền Huyễn</option>
      <option value="Khác">Tu Tiên</option>
      <option value="Khác">Võ Hiệp</option>
      <option value="Khác">Ngôn Tình</option>
      <option value="Khác">Khác</option>
    </select>
    </div>
    <label for="image">Hình ảnh (URL)</label>
    <input type="file" id="image" accept="img/*">
  <div></div>
   

    <button class="btn btn-add" onclick="saveProduct()">Lưu</button>
    <button class="btn" onclick="hideForm()">Hủy</button>
<html>

    <div class="product-grid">
    
</main>



</body>
</html>
