<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="../css/home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
<main class="main_box">

  <!-- SLOGAN (HOME) -->
  <section class="home_wrapper">
    <div class="home_container">
      <!-- SLOGAN ================== -->
      <div class="home_data">
        <h1 class="home_title">Tàng Thư Các</h1>
        <p class="home_description">
          Không gian cho tinh thần – nơi hội tụ kho tri thức và trải nghiệm đọc sách hiện đại.
        </p>
      </div>
          <main>
    <h2>📘 Quản lý danh mục / phân loại</h2>
      <input class="form-control me-2" type="search" placeholder="Tìm kiếm..." id="searchInput">
        <button class="btn btn-outline-success" type="submit">Tìm</button>
  </header> 

  <!-- Bên phải: Kết quả -->
     <div class="search-result-info">
      <strong>KẾT QUẢ TÌM KIẾM:</strong> <em></em> 
    </div>
    <div class="sort-options">
      <button>Độ liên quan</button>
      <button>Còn hàng</button>
    </div> 

      <!-- Sản phẩm 1 -->
      <div class="product-card">
        <img src="...." alt="...">
        <div class="name">...</div>
      </div>

       Sản phẩm 2 
      <div class="product-card">
        <img src=".." alt="...">
        <div class="name">...</div>
      </div>
    </div>

  </main>

<!-- Link script -->
<script src="../js/home.js"></script>
</body>
</html>
