@if (User.IsInRole("Admin") || User.IsInRole("ThuThu"))
{
    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Cards" asp-action="Index">Thẻ thư viện</a></li>
    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="HanMucs" asp-action="Index">Hạn mức mượn</a></li>
}
