<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADmin_cp index</title>
    <link rel="stylesheet" href="../admin_cp/css/index.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>

    <meta name="description" content="Trang demo quản lý thư viện, tra cứu và quản lý sách.">
    <meta name="keywords" content="thư viện, quản lý sách, sách, QLTV, frontend demo">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">


    <link rel="stylesheet" href="css/sidebar.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="sidebar_index" id="sidebar-placeholder"></div>

    <div class="main_index" id="main-placeholder"></div>


  <script src="js/index.js"></script>

</body>
</html>
</body>
</html>