<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul class="menu left-menu">
            <li><a href="index.html?Home"><i class="fa-solid fa-2xl fa-book-open-reader"></i></a></li>
            <li><a href="index.html?category">Danh mục</a></li>
            <li><a href="index.html?feature">Khám phá</a></li>            
            </ul>
            <ul class="menu right-menu">
            <form method="GET" action="index.html" class="search-bar" role="search">
                <input type="text" name="search" placeholder="Tìm sản phẩm..." required />
                <button type="submit" title="Search"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <li><a href="index.html?Login"><i class="fa-solid fa-user"></i></a></li>
            <li><a href="index.html?Account"><i class="fa-regular fa-user"></i></a></li>
            <li><a href="index.html?Admin"><i class="fa-regular fa-user"></i></a></li>
            </ul>
        </nav>        
    </header>
</body>
</html>