<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="../css/home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
<main class="main_box">

  <!-- SLOGAN (HOME) -->
<section class="home_wrapper">
  <div class="home_container">
    <!-- SLOGAN ================== -->
    <div class="home_data">
      <h1 class="home_title">Tàng Thư Các</h1>
      <p class="home_description">
        Không gian cho tinh thần – nơi hội tụ kho tri thức và trải nghiệm đọc sách hiện đại.
      </p>
      <a href="#" class="button">Đăng ký</a>
    </div>

    <!-- PREVIEW ================= -->
    <div class="home_img">
      <div class="home_swiper">
        <article class="home_article"><img src="img/bia_sach_1.jpg" alt="image"></article>
        <article class="home_article"><img src="img/bia_sach_2.jpg" alt="image"></article>
        <article class="home_article"><img src="img/bia_sach_3.jpg" alt="image"></article>
        <article class="home_article"><img src="img/bia_sach_4.jpg" alt="image"></article>
      </div>
    </div>
  </div>
</section>


<section>
  <!-- FEATURED ================== -->
  <div class="featured_section">
    <h2 class="featured_title">Featured</h2>
    <div class="featured_grid">
      <div class="featured_card"><img src="img/bia_sach_5.jpg" alt=""><p>Tên sách 1</p></div>
      <div class="featured_card"><img src="img/bia_sach_6.jpg" alt=""><p>Tên sách 2</p></div>
      <div class="featured_card"><img src="img/bia_sach_7.jpg" alt=""><p>Tên sách 3</p></div>
      <div class="featured_card"><img src="img/bia_sach_8.jpg" alt=""><p>Tên sách 4</p></div>
      <div class="featured_card"><img src="img/bia_sach_9.jpg" alt=""><p>Tên sách 5</p></div>
      <div class="featured_card"><img src="img/bia_sach_10.jpg" alt=""><p>Tên sách 6</p></div>
      <div class="featured_card"><img src="img/bia_sach_11.jpg" alt=""><p>Tên sách 7</p></div>
      <div class="featured_card"><img src="img/bia_sach_12.jpg" alt=""><p>Tên sách 8</p></div>
      <div class="featured_card"><img src="img/bia_sach_13.jpg" alt=""><p>Tên sách 9</p></div>
      <div class="featured_card"><img src="img/bia_sach_4.jpg" alt=""><p>Tên sách 10</p></div>
    </div>
  </div>
</section>

<section>
  <!-- NEW ================== -->
  <div class="featured_section">
    <h2 class="featured_title">NEW</h2>
      <div class="featured_grid">
        <div class="featured_card"><img src="img/bia_sach_5.jpg" alt=""><p>Tên sách 1</p></div>
        <div class="featured_card"><img src="img/bia_sach_6.jpg" alt=""><p>Tên sách 2</p></div>
        <div class="featured_card"><img src="img/bia_sach_7.jpg" alt=""><p>Tên sách 3</p></div>
        <div class="featured_card"><img src="img/bia_sach_8.jpg" alt=""><p>Tên sách 4</p></div>
        <div class="featured_card"><img src="img/bia_sach_9.jpg" alt=""><p>Tên sách 5</p></div>
        <div class="featured_card"><img src="img/bia_sach_10.jpg" alt=""><p>Tên sách 6</p></div>
        <div class="featured_card"><img src="img/bia_sach_11.jpg" alt=""><p>Tên sách 7</p></div>
        <div class="featured_card"><img src="img/bia_sach_12.jpg" alt=""><p>Tên sách 8</p></div>
        <div class="featured_card"><img src="img/bia_sach_13.jpg" alt=""><p>Tên sách 9</p></div>
        <div class="featured_card"><img src="img/bia_sach_4.jpg" alt=""><p>Tên sách 10</p></div>
      </div>
  </div>
</section>
</main>
</body>
</html>
