<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Chi tiết tác phẩm</title>
  <link rel="stylesheet" href="../css/inforbook.css">
</head>
<body>
  <div class="background-blur"></div>

  <a href="product.html" class="back-btn">⬅ Quay lại</a>

  <div class="detail-card">
    <img id="detailImg" src="" alt="Ảnh tác phẩm">
    <h2 id="detailName"></h2>
    <p> truyện kiều là tác phẩm của Nguyễn Du </p>

  </div>
  <script>
    // Lấy dữ liệu từ localStorage
    const data = JSON.parse(localStorage.getItem('bookDetail'));
    if (data) {
      document.getElementById('detailImg').src = data.img;
      document.getElementById('detailName').textContent = data.name;
      document.getElementById('detailField').textContent = data.field;
      document.getElementById('detailBirth').textContent = data.birth;
      document.getElementById('detailWork').textContent = data.work;
    } else {
      document.querySelector('.detail-card').innerHTML =
        '<h2>Không có dữ liệu để hiển thị</h2>';
        '<h3>Vui lòng quay lại trang sản phẩm và chọn một tác phẩm.</h3>';
    }
  </script>
</body>
</html>
