<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="../css/login.css">
  <title>Login</title>
</head>
<body>
  <main>
    <div class="container">
      <div class="form-container sign-in">
        <form method="POST" action="#">
          <h1 style="color: #ffffff">Sign In</h1>
          <div class="social-icons">
            <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
            <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
            <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
          </div>
          <span>or use your account</span>
          <input type="email" name="username" placeholder="Email" required>
          <input type="password" name="password" placeholder="Password" required minlength="6">
          <button type="submit">Sign In</button>
          <a href="index.html?Sign_up" class="redirect-link">Don't have an account? Sign Up</a>
        </form>
      </div>
    </div>
  </main>
</body>
</html>
