<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/rent.css">
</head>
<body>
    <main>
        <div class="main_box">
            <div class="slider" id="slider">
                <div class="list" id="slider-list">
                    <div class="item"><img src="img/rent-room.jpg" /></div>
                    <div class="item"><img src="img/rent-room.jpg" /></div>
                    <div class="item"><img src="img/rent-room.jpg" /></div>
                    <div class="item"><img src="img/rent-room.jpg" /></div>
                </div>
                <div class="button">
                    <div class="prev" id="prev"><i class="fa-solid fa-chevron-left"></i></div>
                    <div class="next" id="next"><i class="fa-solid fa-chevron-right"></i></div>
                </div>
            </div>  
        </div>
    </main>

    <script type="module" src="../js/rent.js"></script>
</body>
</html>