@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}

<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />


<main class="auth-main">
    <div class="auth-card">
        <div class="auth-form auth-signin">
            <form id="account" method="post">
                @Html.AntiForgeryToken()
                <h1>Sign In</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>

                <span>or use your account</span>

                <input asp-for="Input.Email" type="email" placeholder="Email" autocomplete="username" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>

                <input asp-for="Input.Password" type="password" placeholder="Password" autocomplete="current-password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>

                <label class="auth-remember">
                    <input asp-for="Input.RememberMe" class="form-check-input" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>

                <button id="login-submit" type="submit">Sign In</button>
                <div style="margin-top:1rem;"><a asp-page="./ForgotPassword">Forgot your password?</a></div>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="redirect-link">Don't have an account? Sign Up</a>
            </form>
        </div>
    </div>
</main>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
