@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="~/css/Register.css" asp-append-version="true" />


<main class="auth-main">
    <div class="auth-card">
        <div class="auth-form auth-signin">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                @Html.AntiForgeryToken()

                <h1 style="color:#fff">Create Account</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>

                <span>or use your email for registration</span>

                @* Sửa Input.Name thành Input.Fullname *@
                <input asp-for="Input.Fullname" placeholder="Họ và Tên" aria-required="true" />
                <span asp-validation-for="Input.Fullname" class="text-danger"></span>

                <input asp-for="Input.Email" type="email" placeholder="Email" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>

                @* Bổ sung ô nhập Số điện thoại *@
                <input asp-for="Input.PhoneNumber" type="tel" placeholder="Số điện thoại" autocomplete="tel" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>

                <input asp-for="Input.Password" type="password" placeholder="Password" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>

                <input asp-for="Input.ConfirmPassword" type="password" placeholder="Confirm Password" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                <button id="registerSubmit" type="submit" class="btn btn-primary">Sign Up</button>
                <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" class="redirect-link">Already have an account? Sign In</a>
            </form>
        </div>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
