<!DOCTYPE html>
<html lang="en">
<!-- Views/Shared/_Layout.cshtml -->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QL_ThuVien</title>

    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/QL_ThuVien.styles.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="../css/header.css" /> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header class="header">
        <nav class="header-nav">
            <ul class="header-menu header-left">
                <li><a asp-controller="QLThuVien" asp-action="Home" title="home"><i class="fa-solid fa-2xl fa-book-open-reader"></i></a></li>
                <li class="category-btn">
                    <a href="#" title="Category">Category</a>
                    <div class="category-menu">
                        <!-- Cột phải -->
                        <div class="category-right">
                            <!-- Submenu 1 -->
                            <div class="subcategory" id="book">
                                <h3>Sách Trong Nước</h3>
                                <div class="columns">
                                    <ul>
                                        <li>Văn Học</li>
                                        <li>Tiểu Thuyết</li>
                                        <li>Light Novel</li>
                                        <li>Ngôn Tình</li>
                                        <li><a href="#">Xem tất cả</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="subcategory" id="book">
                                <h3>Sách Trong Nước</h3>
                                <div class="columns">
                                    <ul>
                                        <li>Văn Học</li>
                                        <li>Tiểu Thuyết</li>
                                        <li>Light Novel</li>
                                        <li>Ngôn Tình</li>
                                        <li><a href="#">Xem tất cả</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="subcategory" id="book">
                                <h3>Sách Trong Nước</h3>
                                <div class="columns">
                                    <ul>
                                        <li>Văn Học</li>
                                        <li>Tiểu Thuyết</li>
                                        <li>Light Novel</li>
                                        <li>Ngôn Tình</li>
                                        <li><a href="#">Xem tất cả</a></li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Submenu 2 -->
                            <div class="subcategory" id="stationery">
                                <h3>VPP - Dụng Cụ Học Sinh</h3>
                                <div class="columns">
                                    <ul>
                                        <li>Bút - Viết</li>
                                        <li>Bút Bi</li>
                                        <li>Bút Gel</li>
                                        <li>Bút Máy</li>
                                        <li><a href="#">Xem tất cả</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="subcategory" id="book">
                                <h3>Sách Trong Nước</h3>
                                <div class="columns">
                                    <ul>
                                        <li>Văn Học</li>
                                        <li>Tiểu Thuyết</li>
                                        <li>Light Novel</li>
                                        <li>Ngôn Tình</li>
                                        <li><a href="#">Xem tất cả</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="subcategory" id="book">
                                <h3>Sách Trong Nước</h3>
                                <div class="columns">
                                    <ul>
                                        <li>Văn Học</li>
                                        <li>Tiểu Thuyết</li>
                                        <li>Light Novel</li>
                                        <li>Ngôn Tình</li>
                                        <li><a href="#">Xem tất cả</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="subcategory" id="book">
                                <h3>Sách Trong Nước</h3>
                                <div class="columns">
                                    <ul>
                                        <li>Văn Học</li>
                                        <li>Tiểu Thuyết</li>
                                        <li>Light Novel</li>
                                        <li>Ngôn Tình</li>
                                        <li><a href="#">Xem tất cả</a></li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Submenu 2 -->
                            <div class="subcategory" id="stationery">
                                <h3>VPP - Dụng Cụ Học Sinh</h3>
                                <div class="columns">
                                    <ul>
                                        <li>Bút - Viết</li>
                                        <li>Bút Bi</li>
                                        <li>Bút Gel</li>
                                        <li>Bút Máy</li>
                                        <li><a href="#">Xem tất cả</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li><a href="index.html?rent" class="menu-rent" title="Rent">Rent</a></li>
            </ul>
            <ul class="header-menu header-right">
                <form method="GET" action="index.html" class="header-search" role="search">
                    <input type="text" name="search" placeholder="Tìm sản phẩm..." required />
                    <button type="submit" title="Search" class="search-btn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>

                 @* @await Html.PartialAsync("_LoginPartial")  *@
                <!-- Register link (Identity) -->
                <li>
                    <a asp-area="Identity" asp-page="/Account/Login" title="Login" class="nav-link">
                        <i class="fa-solid fa-user"></i>
                    </a>
                </li>
               @* <li><a asp-controller="Users" asp-action="Index" title="Index"><i class="fa-solid fa-user"></i></a></li> *@

                 <li><a href="index.html?Login" title="login"><i class="fa-solid fa-user"></i></a></li>

                <!-- ba duong dan chuyen doi icon voi nhau dua theo trang thai account-->

                @* <li><a href="index.html?Account" title="account"><i class="fa-regular fa-user"></i></a></li> *@
                <!--<li><a href="index.html?Admin" title="admin"><i class="fa-regular fa-user"></i></a></li>-->
            </ul>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - QL_ThuVien - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
